@use '../abstract/' as *;

@include breakpoint-down(tablet) {
  .sidebar {
    &.overlay {
      @include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
      background-color: var(--black-75);
    }

    &__wrapper {
      @include position(absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);
      background-color: var(--white);
      display: none;
      padding: rem(24);
      width: rem(250);

      &.active {
        display: block;
      }
    }
  }
}
